<!DOCTYPE html>
<html>
<head>
    <title>Activacion de cuenta</title>
</head>
<body>
    <h3>Estimado {{ username }}</h3>
    <p>¡Gracias por unirse a nuestra portal!</p>
    <p>
        Para completar su registro y comenzar a disfrutar de todos los beneficios de su cuenta, por favor 
        activela haciendo clic en el siguiente enlace. Este paso es esencial para garantizar la seguridad de su información y 
        para brindarle una experiencia personalizada. Si tiene alguna pregunta o necesita asistencia 
        adicional, no dude en contactarnos.
    </p>
    <a href="{{ link }}">Activar cuenta</a>
    <p>
        Esperamos darle la bienvenida y que disfrute de nuestro servicio!
    </p>
    <p>
        Saludos cordiales,
    </p>
    <p>
        jhonnyc2320@gmail.com
    </p>
</body>
</html>