<!DOCTYPE html>
<html>
<head>
    <title>Recuperación de Contraseña</title>
</head>
<body>
    <h3>Estimado {{ username }}</h3>
    <p>
        Ha solicitado restablecer su contraseña. Para proceder con la recuperación de su contraseña, por favor haga clic en el siguiente enlace:
    </p>
    <a href="{{ link }}">Restablecer Contraseña</a>
    <p>
        Este enlace de recuperación es válido solo por un tiempo limitado...
    </p>
    <!-- Resto del contenido del correo -->
    <p>
        Saludos cordiales,<br>
        JAMUNDI
        jhonnyc2320@gmail.com
    </p>
</body>
</html>